.header {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    margin: 0 auto 56px;
    justify-content: space-between;
    padding: 28px 48px 0;
    border: dashed bisque;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 28px 24px 0;
      
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 16px 16px 0;
        min-width: 288px;
        margin: 0 auto 48px;
    }
}