.header{
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto 56px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 28px 48px 0;
}