.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    max-width: 720px;
    border: dashed bisque;
}

@media screen and (max-width: 1024px) {
    .lead__title {
    
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 680px) {
    .lead__title {
        font-size: 50px;
        margin-bottom: 16px;
    }

}

@media screen and (max-width: 320px) {
    .lead__title {
        min-width: 288px;
        font-size: 40px;
        margin-bottom: 16px;
    }

}