.foto{
    margin: 0;
    margin-bottom: 95px;
}

@media screen and (max-width: 1024px) {
    .foto {
        margin-bottom: 92px;
    }

}

@media screen and (max-width: 768px) {
    .foto {
        margin-bottom: 88px;
    }

}

@media screen and (max-width: 320px) {
    .foto {
        margin-bottom: 64px;
    }

}