.cover {
    position: relative;
    border: dashed wheat;
    margin-left: 48px;
    margin-right: 48px;
    
}

@media screen and (max-width: 320px) {
    .cover {
        min-width: 320px;
        
    }
}