.cover {
    display: flex;
    flex-direction: column;
    background-image: url(../../Images/cover-trains.jpg);
    max-width: 1184px;
    max-height: 740px;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
}

/*.cover::before {
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 3;
}*/