.cover {
    position: relative;
    border: dashed wheat;
    margin: 0 auto;
    display: block;
    width: 100%;
   
    
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 0;
        
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-width: 320px;
        
    }
}