.footer {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    margin: 92px auto 0;
    padding: 24px 48px 0;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding: 24px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        max-width: 310px;
        padding-bottom: 24px;
        margin: 64px auto 0;
    }
}